<div class="row">
	<div class="col-md-4">
		<div ng-if="homeCtrl.message != '' " style="color:green;">{{ homeCtrl.message }}</div>
		<form novalidate class="" ng-if="!homeCtrl.creatingAccount">
			<div class="form-group">
				<label for="login">{{ 'HOME_LOGIN' | translate }}</label><input ng-model="homeCtrl.credentials.email" class="form-control" type="text" name="login" />
				<label for="password">{{ 'HOME_PASSWORD' | translate }}</label><input ng-model="homeCtrl.credentials.password" class="form-control" type="password" name="password" />
			</div>
			<div class="form-group">
				<input class="btn btn-default" type="submit" value="{{ 'HOME_SUBMIT' | translate }}" ng-click="homeCtrl.logIn();"/>			
			</div>
			<div>
				<a ng-click="homeCtrl.creatingAccount = true">Créer un compte</a>
			</div>
		</form>
		<form novalidate ng-if="homeCtrl.creatingAccount">
			<h3>Creer un compte</h3>
			<div class="form-group">
				<label for="login">Choisissez votre login</label><input ng-model="homeCtrl.newCredentials.email" class="form-control" type="text" name="login" />
				<label for="password">Mot de passe</label><input ng-model="homeCtrl.newCredentials.password" class="form-control" type="password" name="password" />
			</div>
			<div class="form-group">
				<input class="btn btn-default" type="submit" value="Creer mon compte" ng-click="homeCtrl.createAccount();"/>			
			</div>
			<div>
				<a ng-click="homeCtrl.creatingAccount = false">J'ai déjà un compte</a>
			</div>
		</form>
	</div>
</div>
